<configuration>
	<!-- List of package sources -->
	<packageSources>
		<!-- Default public NuGet repository -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<!-- Configuring package management options (Use it if necessary) -->
	<packageManagement>
		<add key="format" value="1" />
	</packageManagement>

	<!-- Optional: Set global packages folder location -->
	<config>
		<!-- Uncomment this section to specify a global packages folder -->
		<!-- <add key="globalPackagesFolder" value="C:\NuGetPackages" /> -->
	</config>
</configuration>